{% load static %}

<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Titel der Seite{% endblock %}</title>
    <!-- <link rel="icon" type="image/x-icon" href="{% static '' %}"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" type="text/css">
    {% block style %}
    <link rel="stylesheet" href="{% static 'base/css/style_marcel.css' %}" type="text/css">{% endblock %}
</head>


<body>
    {% block header %}
    <header class="header">
        <div class="mainheader">{% block headertitle %}{% endblock %}</div>
        <div class="subheader">{% block headersubtitle %}{% endblock %}</div>
        {% block headerothers %}{% endblock %}
    </header>
    {% endblock %}
    <main class="main">
        {% block navbar %}
        <div class="navbar">
            <a href="/" {% block activeHome %}{% endblock %}>Home</a>
            <a href="#" {% block activeAntragStellen %}{% endblock %}>Antrag stellen</a>
            <a href="#" {% block activeMeineAnträge %}{% endblock %}>Meine Anträge</a>
            <a href="#" {% block activeKontakt %}{% endblock %}>Kontankt</a>
            <a href="#" {% block activeFAQ %}{% endblock %}>FAQ</a>
        </div>
        {% endblock %}
        {% block main %}{% endblock %}
    </main>
    {% block footer %}
    <footer class="footer">
        <div class="flexbox">
            <a href="/" class="active">Homepage</a>
            <a href="/app/zeiterfassung">Zeiterfassungsapp</a>
            <a href="/app/greenhub">GreenHubapp</a>
        </div>
        <p>&copy; 2023 Marcel Ender. Alle Rechte vorbehalten.</p>
    </footer>
    {% endblock %}
</body>