{% load static %}
<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Titel der Seite{% endblock %}</title>
  <link rel="icon" type="image/x-icon" href="{% static '' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" type="text/css" />
  {% block style %}
  <link rel="stylesheet" href="{% static 'virtualgovservices/css/style.css' %}" type="text/css" />
  {% endblock %}
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      document.getElementById('showValuesButton').addEventListener('click', fillFormWithProfile);
    });

    function fillFormWithProfile() {
      document.querySelector('input[name="anrede"]').value = "{{ loggedin_user.anrede }}";
      document.querySelector('input[name="vorname"]').value = "{{ loggedin_user.vorname }}";
      document.querySelector('input[name="nachname"]').value = "{{ loggedin_user.nachname }}";
      document.querySelector('input[name="strasse"]').value = "{{ loggedin_user.strasse }}";
      document.querySelector('input[name="postleitzahl"]').value = "{{ loggedin_user.postleitzahl }}";
      document.querySelector('input[name="ort"]').value = "{{ loggedin_user.ort }}";
      document.querySelector('input[name="telefonnummer"]').value = "{{ loggedin_user.telefonnummer }}";
      document.querySelector('input[name="email"]').value = "{{ loggedin_user.email }}";
      document.querySelector('input[name="geburtsdatum"]').value = "{{ loggedin_user.geburtsdatum|date:'Y-m-d' }}";
      // Entferne den Button
      var button = document.getElementById("showValuesButton");
      button.parentNode.removeChild(button);
      // Vorherige Adresse aus Profil
      var strasse = document.querySelector('input[name="strasse"]').value;
      var postleitzahl = document.querySelector('input[name="postleitzahl"]').value;
      var ort = document.querySelector('input[name="ort"]').value;
      var vorherigeAdresse = strasse + ', ' + postleitzahl + ' ' + ort;
      document.querySelector('input[name="vorherige_adresse"]').value = vorherigeAdresse;
    }

    function transform(x) {
      x.classList.toggle("change");
      document.getElementById("myDropdown").classList.toggle("show");
    }

    setTimeout(function () {
      document.getElementById("message").style.display = "none";
    }, 5000); // after 5 secs

    window.onload = function () {
      // Höhe der Navbar für den Bildlauf
      const offset = 70;

      // Erhält den Anker aus der URL
      const hash = window.location.hash;

      if (hash) {
        const targetElement = document.querySelector(hash);

        if (targetElement) {
          // Bildlauf an die korrekte Position mit Berücksichtigung der Navbar-Höhe
          window.scrollTo({
            top: targetElement.offsetTop - offset,
            behavior: 'smooth'
          });

          // Hinzufügen einer Hervorhebungsklasse zum Ziel
          targetElement.classList.add('highlight');

          // Entfernen der Hervorhebung nach einer festgelegten Zeit
          setTimeout(function () {
            targetElement.classList.remove('highlight');
          }, 3000); // 3 Sekunden Hervorhebung
        }
      }
    };

  </script>
</head>

<body>
  {% block header %}
  <header class="header">
    <div class="mainheader underline_white">{% block headertitle %}{% endblock %}</div>
    <div class="subheader">{% block headersubtitle %}{% endblock %}</div>
    {% block headerothers %}{% endblock %}
  </header>
  {% endblock %}
  <main class="main">
    {% if messages %}
    {% for message in messages %}
    <div class="{{ message.tags }}" id="message">
      {{ message }}
      <button id="close" onclick="this.parentNode.parentNode.removeChild(this.parentNode); return false;">X</button>
    </div>
    {% endfor %}
    {% endif %}
    {% block navbar %}
    <div class="navbar_burger">
      <div class="justify_start">
        <div class="logo_name">
          <a href="/virtualgovservices/" class="logo_name" style="text-decoration:none">
            <img src="{% static 'virtualgovservices/pictures/logoPage-removebg.png' %}" alt="Logo" class="logo">
            <h1 class="logoname">VirtualGov Services</h1>
          </a>
        </div>
      </div>
      <div class="justify_flexend_header">
        <div class="profil">
          <a href="/virtualgovservices/profile/{{user.username}}" class="profilverlinkung">
            <p class="profilname">Hallo, <strong>{{user.username}}</strong></p>
          </a>
          <!-- style="margin-right: 0rem; padding: 0.6rem 2rem 0.1rem 2rem;" -->
          <a href="/virtualgovservices/profile/{{user.username}}"><img src="{{ loggedin_user.profileimg.url }}"
              alt="Profilbild von {{user.username}}" class="profilbild"></a>
          <div class="dropdown_container" onclick="transform(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
            <div id="myDropdown" class="dropdown_content">
              {% block bürger %}
              <a href="/virtualgovservices/" {% block activeHome %}{% endblock %}>Dashboard</a>
              <a href="/virtualgovservices/anträge/" {% block activeAntragStellen %}{% endblock %}>Antrag stellen</a>
              <a href="/virtualgovservices/meine_antraege/" {% block activeMeineAnträge %}{% endblock %}>Meine
                Anträge</a>
              <a href="/virtualgovservices/settings/" {% block activeSettings %}{% endblock %}>Profileinstellungen</a>
              <a href="/virtualgovservices/logout/">Logout</a>
              {% endblock %}
              {% block beamter %}
              <a href="/virtualgovservices/">Dashboard</a>
              <a href="/virtualgovservices/meine_antraege/#offen">Offene Anträge</a>
              <a href="/virtualgovservices/meine_antraege/#abgeschlossen">Abgeschlossen</a>
              <a href="/virtualgovservices/settings/">Profileinstellungen</a>
              <a href="/virtualgovservices/statistik/">Statistik</a>
              <a href="/virtualgovservices/logout/">Logout</a>
              {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
    {% block main %}{% endblock %}
    {% block loginxsignup %}
    <div class="container_grid" style="display: block; margin-top: 3rem;">
      <div class="container_left">
        <div class="centered_img">
          <!-- <a href="/">
              <img src="{% static 'logoPage-removebg.png' %}" alt="Logo" style="background-color: white; border-radius: 50%" />
            </a> -->
          {% block anmeldenXregistrieren %}{% endblock %}
        </div>
        <div class="container_form_cta">
          <form action="" class="UserForm" method="post">
            {% csrf_token %}
            <div class="form_build">
              <div class="username">
                <img src="{% static 'virtualgovservices/pictures/username_img.png' %}" alt="" class="form_icon" />
                <input class="input_input" type="text" name="username" id="username" placeholder="Benutzername"
                  required />
              </div>
              <div class="password">
                <img src="{% static 'virtualgovservices/pictures/password_img.png' %}" alt="" class="form_icon" />
                <input class="input_input" type="password" name="password" id="password" placeholder="Passwort"
                  required />
              </div>
              <button class="form_submit-btn" value="Anmelden" type="submit">
                {% block loginorsignup %}{% endblock %}</button>
            </div>
          </form>
        </div>
        {% block abfragekonto %}{% endblock %}
      </div>
      {% comment %} <div class="container_right">
        <div class="container_social">
          <img src="{% static 'virtualgovservices/pictures/facebook_logo.png' %}" alt="Logo Facebook" class="logo" />
          <button class="social-signin facebook">Log in with facebook</button>
        </div>
        <div class="container_social">
          <img src="{% static 'virtualgovservices/pictures/twitter_logo.png' %}" alt="Logo Twitter" class="logo" />
          <button class="social-signin twitter">Log in with Twitter</button>
        </div>
        <div class="container_social">
          <img src="{% static 'virtualgovservices/pictures/google_logo.png' %}" alt="Logo Google+" class="logo" />
          <button class="social-signin google">Log in with Google+</button>
        </div>
      </div> {% endcomment %}
    </div>
    {% endblock %}
  </main>
  {% block footer %}
  <footer class="footer">
    <p>&copy; 2023 VirtualGov Services. Alle Rechte vorbehalten.</p>
    <div class="flexbox">
      <a href="#" {% block activeKontakt %}{% endblock %}>Kontakt</a>
      <a href="#" {% block activeFAQ %}{% endblock %}>FAQ</a>
      <a href="/impressum">Impressum</a>
      <a href="/datenschutz">Datenschutzerklärung</a>
    </div>
  </footer>
  {% endblock %}
</body>

</html>