{% extends "virtualgovservices/base.html" %}
{% load static %}
{% block title %}eGov - Startseite{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'virtualgovservices/css/style_mainpage.css' %}" type="text/css" />
{% endblock %}
{% block header %} {% endblock %}
{% block activeHome %}class='active'{% endblock %}
{% block navbar %}
<div class="navbar_burger" style="margin-left: 250px;">
  <div class="justify_start">
    <div class="logo_name">
      <a href="" class="logo_name" style="text-decoration:none">
        <h1 class="logoname">Dashboard
        </h1>
      </a>
    </div>
  </div>
  <div class="justify_flexend_header">
    <div class="profil">
      <!-- <a href="/virtualgovservices/profile/{{user.username}}" class="profilverlinkung">
        <p class="profilname">Hallo, <strong>{{user.username}}</strong></p>
      </a> -->
      <!-- style="margin-right: 0rem; padding: 0.6rem 2rem 0.1rem 2rem;" -->
      <a href="/virtualgovservices/profile/{{user.username}}"><img src="{{ loggedin_user.profileimg.url }}"
          alt="Profilbild von {{user.username}}" class="profilbild"></a>
      <!-- <div class="dropdown_container" onclick="transform(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div id="myDropdown" class="dropdown_content">
          <a href="/virtualgovservices/">Home</a>
          <a href="#">Antrag stellen</a>
          <a href="/virtualgovservices/meine_antraege/">Meine
            Anträge</a>
          <a href="/virtualgovservices/settings/">Profileinstellungen</a>
          <a href="/virtualgovservices/logout/">LOGOUT</a>
        </div>
      </div> -->
    </div>
  </div>
</div>
{% endblock %}
{% block main %}
{% load static %}
<div class="sidebar">
  <div class="flexbox">
    <div class="logo_name">
      <img src="{% static 'virtualgovservices/pictures/logoPage-removebg.png' %}" alt="Logo" class="logo">
      <h2 class="custom_h2">VirtualGov Services</h2>
    </div>
    <div class="nav-links">
      <!-- <a href="/virtualgovservices/" class="nav-link">Home</a> -->
      <!-- <a href="/virtualgovservices/anträge/" class="nav-link">Antrag stellen</a> -->
      <a href="/virtualgovservices/meine_antraege/#offen">Offene Anträge</a>
      <a href="/virtualgovservices/meine_antraege/#abgeschlossen">Abgeschlossen</a>
      <a href="/virtualgovservices/settings/">Profileinstellungen</a>
      <a href="/virtualgovservices/statistik/">Statistik</a>
    </div>
  </div>
  <div class="logout">
    <a href="/virtualgovservices/logout/">LOGOUT</a>
  </div>
</div>
<div class="flex">
  <div class="main-section">
    <div class="container_welcome">
      <h1 class="profilname">Willkommen auf dem Dashboard, {{loggedin_user.anrede}} <strong>{{loggedin_user.vorname}}
          {{loggedin_user.nachname}}</strong>.<br><br>
        Hier findest du alle Verfahren auf einem Blick.</h1>
    </div>
    <div class="offene_anträge">
      <h1 style="font-size: xx-large; text-align: center;">Offene Verfahren</h1>
      <hr>
      {% for verfahren in verfahren_liste %}
      {% if verfahren.zustand != "abgeschlossen" %}
      <a href="https://193.196.52.181/virtualgovservices/meine_antraege/#v{{ verfahren.nummer }}">
        Verfahren {{ verfahren.themengebiet }}
      </a>
      <p>vom {{ verfahren.erstellt_am }}</p>
      <h3>Verfahrens-ID: {{ verfahren.nummer }}</h3>
      <h3>Status: {{ verfahren.zustand }}, aktualisiert am {{ verfahren.aktualisiert_am }}</h3>
      <hr>
      {% endif %}
      {% endfor %}
    </div>
    <div class="abgeschlossene_anträge">
      <h1 style="font-size: xx-large; text-align: center;">Abgeschlossene Verfahren</h1>
      <hr>
      {% for verfahren in verfahren_liste %}
      {% if verfahren.zustand == "abgeschlossen" %}
      <a href="https://193.196.52.181/virtualgovservices/meine_antraege/#v{{ verfahren.nummer }}">
        Verfahren {{ verfahren.themengebiet }}
      </a>
      <p>vom {{ verfahren.erstellt_am }}</p>
      <h3>Verfahrens-ID: {{ verfahren.nummer }}</h3>
      <h3>Status: {{ verfahren.zustand }}, aktualisiert am {{ verfahren.aktualisiert_am }}</h3>
      <hr>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
{% block loginxsignup %}{% endblock %}
{% block footer %}
<footer class="footer">
  <p>&copy; 2023 VirtualGov Services. Alle Rechte vorbehalten.</p>
  <div class="flex_row">
    <a href="#" {% block activeKontakt %}{% endblock %}>Kontakt</a>
    <a href="#" {% block activeFAQ %}{% endblock %}>FAQ</a>
    <a href="/impressum">Impressum</a>
    <a href="/datenschutz">Datenschutzerklärung</a>
  </div>
</footer>
{% endblock %}