{% extends "virtualgovservices/base.html" %}
{% block title %}eGov - Statistik{% endblock %}
{% block header %}{% endblock %}
{% block activeMeineAnträge %}class='active'{% endblock %}
{% block loginxsignup %}{% endblock %}
{% block bürger %}{% endblock %}
{% block main %}
{% load static %}
<div>
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const canvas = document.getElementById('myChart');
    const ctx = canvas.getContext('2d')

    const daten = {{ daten| safe }};

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: daten.labels,
            datasets: [{
                label: 'Hundeanmeldungen',
                data: daten.hundeanmeldungen,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            }, {
                label: 'Wohnsitzanmeldungen',
                data: daten.wohnsitzanmeldungen,
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock %}
{% block footer %}
<footer class="footer" style="bottom: 0;">
    <p>&copy; 2023 VirtualGov Services. Alle Rechte vorbehalten.</p>
    <div class="flexbox">
        <a href="#" {% block activeKontakt %}{% endblock %}>Kontakt</a>
        <a href="#" {% block activeFAQ %}{% endblock %}>FAQ</a>
        <a href="/impressum">Impressum</a>
        <a href="/datenschutz">Datenschutzerklärung</a>
    </div>
</footer>
{% endblock %}