{% extends "virtualgovservices/base.html" %}
{% block title %}eGov - Login{% endblock %}
{% block header %}{% endblock %}
{% block navbar %}
<div class="navbar">
  <a href="https://193.196.52.181/virtualgovservices/">Home</a>
  <a href="#">Antrag stellen</a>
  <a href="#">Kontakt</a>
  <a href="#">FAQ</a>
  <a href="https://193.196.52.181/virtualgovservices/login/" class='right active'>Anmelden</a>
  <a href="https://193.196.52.181/virtualgovservices/signup/" class="right register-btn">Registrieren</a>
</div>
{% endblock %}
{% block loginorsignup %}Anmelden{% endblock %}
{% block abfragekonto %}
<div class="size1-5rem" style="text-align: center;">Noch kein Account? <a href="https://193.196.52.181/virtualgovservices/signup/">Jetzt registrieren!</a></div>
{% endblock %}
