{% extends "virtualgovservices/base.html" %}
{% block title %}eGov - Einstellungen von {{ user.username }}{% endblock %}
{% block header %}{% endblock %}
{% block loginxsignup %}{% endblock %}
{% block activeSettings %}class='active'{% endblock %}
{% block bürger %}{% endblock %}
{% block main %}
{% load static %}
<div class="main-section">
    <h2>Profil Einstellungen von {{ user.username }}</h2>
    <hr>
    <form action="" method="POST" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        <div class="container_grid">
            <div class="form-field">
                <label for="profileimg">Aktuelles Profilbild:</label>
                <img src="{{loggedin_user.profileimg.url}}" class="profileimg"><br>
            </div>
            <div class="form-field">
                <label for="profileimg">Profilbild ändern:</label>
                <input type="file" name="profileimg" value="" class="">
            </div>
            <div class="form-field">
                <label for="anrede">Anrede:</label>
                <input type="text" name="anrede" class="" value="{{loggedin_user.anrede}}">
            </div>
            <div class="form-field">
                <p> </p>
            </div>
            <div class="form-field">
                <label for="vorname">Vorname:</label>
                <input type="text" name="vorname" class="" value="{{loggedin_user.vorname}}">
            </div>
            <div class="form-field">
                <label for="nachname">Nachname:</label>
                <input type="text" name="nachname" class="" value="{{loggedin_user.nachname}}">
            </div>
            <div class="form-field">
                <label for="telefonnummer">Telefonnummer:</label>
                <input type="text" name="telefonnummer" class="" value="{{loggedin_user.telefonnummer}}">
            </div>
            <div class="form-field">
                <label for="email">Email:</label>
                <input type="text" name="email" class="" value="{{loggedin_user.email}}">
            </div>
            <div class="form-field">
                <label for="raum">Raum:</label>
                <input type="text" name="raum" class="" required value="{{ loggedin_user.raum }}">
            </div>
            <input type="submit" value="Speichern">
        </div>
    </form>
</div>
{% endblock %}

