{% extends "virtualgovservices/base.html" %}
{% block title %}eGov - Signup{% endblock %}
{% block header %}{% endblock %}
{% block navbar %}
<div class="navbar">
  <a href="https://193.196.52.181/virtualgovservices/">Home</a>
  <a href="#">Antrag stellen</a>
  <a href="#">Kontakt</a>
  <a href="#">FAQ</a>
  <a href="https://193.196.52.181/virtualgovservices/login/" class='right'>Anmelden</a>
  <a href="https://193.196.52.181/virtualgovservices/signup/" class='right register-btn active'>Registrieren</a>
</div>
{% endblock %}
{% block loginorsignup %}Registrieren{% endblock %}
{% block abfragekonto %}
<div class="size1-5rem" style="text-align: center;">Bereits regsitriert? <a href="https://193.196.52.181/virtualgovservices/login/">Hier anmelden!</a></div>
{% endblock %}
