{% extends "virtualgovservices/base.html" %}
{% block title %}eGov - Signup{% endblock %}
{% block header %}{% endblock %}
{% block navbar %}
<div style="background-color: #353535; padding: 0 2rem;">
  <div class="navbar">
    <a href="https://193.196.52.181/virtualgovservices/">Home</a>
    <a href="https://193.196.52.181/virtualgovservices/signup/" class="right active">Registrieren</a>
    <a href="https://193.196.52.181/virtualgovservices/login/" class='right register-btn'>Anmelden</a>
  </div>
</div>
{% endblock %}
{% block anmeldenXregistrieren %}<h1 style="font-size: 4.5rem; text-decoration: underline; color: #353535;">Registrieren</h1>{% endblock %}
{% block loginorsignup %}Kostenlos Registrieren{% endblock %}
{% block abfragekonto %}
<div class="size1-5rem" style="text-align: center;">Bereits regsitriert? <a href="https://193.196.52.181/virtualgovservices/login/">Hier anmelden!</a></div>
{% endblock %}
{% block footer %}
    <footer class="footer" style="bottom: 0;">
      <p>&copy; 2023 VirtualGov Services. Alle Rechte vorbehalten.</p>
      <div class="flexbox">
        <a href="#" {% block activeKontakt %}{% endblock %}>Kontakt</a>
        <a href="#" {% block activeFAQ %}{% endblock %}>FAQ</a>
        <a href="/impressum">Impressum</a>
        <a href="/datenschutz">Datenschutzerklärung</a>
      </div>
    </footer>
    {% endblock %}