@media all {
    * {
        box-sizing: border-box;
        font-family: "Roboto", sans-serif;
    }

    body {
        margin: 0;
    }

    html {
        font-size: 10px;
        height: 100%;
    }

    .box-shadow-blue {
        box-shadow: 0px 2px 2px -4px rgba(0, 255, 255, 0.5),
            0px 4px 4px -4px rgba(0, 255, 255, 0.5),
            0px 5px 8px -8px rgba(0, 255, 255, 0.5),
            0px 16px 16px -12px rgba(0, 255, 255, 0.5);
    }

    .box-shadow-lila {
        box-shadow: 0px 2px 2px -4px rgba(128, 43, 177, 0.5),
            0px 4px 4px -4px rgba(128, 43, 177, 0.5),
            0px 5px 8px -8px rgba(128, 43, 177, 0.5),
            0px 16px 16px -12px rgba(128, 43, 177, 0.5);
    }

    .underline {
        text-decoration: underline solid black;
    }

    .underline_white {
        text-decoration: underline solid white;
    }

    .bold {
        font-weight: 600;
    }

    .white {
        color: white;
    }

    .size1-5rem {
        font-size: 1.5rem;
        margin: 1rem 0 1rem 0;
    }

    .size2rem {
        font-size: 2rem;
        margin: 1rem 0 1rem 0;
    }

    .size2-5rem {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    .marginbot2rem {
        margin-bottom: 2rem;
    }

    .container_glass {
        height: 100%;
        background: rgba(255, 255, 255, 0);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
    }

    .header {
        display: flex;
        flex-direction: column;
        background: linear-gradient(to bottom, #000000 0%, #252829 100%);
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        height: 20rem;
    }

    .mainheader {
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }

    .subheader {
        font-size: 2rem;
    }

    #smart_city {
        border: .2rem solid rgb(224, 7, 7);
        border-radius: 1rem;
        color: white;
        text-decoration: none;
        font-size: 2rem;
        margin-top: 3rem;
        padding: .5rem 1rem;
        text-shadow: 0px 0px 2.5rem #EEEEEE;
    }

    #smart_city:hover {
        background-color: #ddd;
        color: black;
        text-shadow: 0px 0px 2.5rem rgb(224, 7, 7);
    }

    .navbar {
        overflow: hidden;
        background-color: #333;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .navbar a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 1.4rem 2rem;
        text-decoration: none;
        font-size: 2rem;
        margin-right: 0.5rem;
    }

    .navbar a:hover {
        background-color: #ddd;
        color: black;
        border-radius: 1rem;
    }

    .navbar a.active {
        background-color: #666;
        border-radius: 1rem;
        color: white;
    }

    .row {
        display: flex;
        background-repeat: no-repeat;
        background-size: 25% 100%;
        background-image: url("side_background_stars.jpg");
    }

    .side {
        flex: 25%;
        padding: 2rem;
        /* position: sticky;
        top: 5.2rem;
        height: 100%; */
        background: rgba(255, 255, 255, 0);
        box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(1rem);
        border-bottom: 0.1rem #000000 solid;
        border-right: 0.1rem #000000 solid;
    }

    .socialmedia {
        display: flex;
        height: 4.4rem;
        margin: 2rem 0 2rem 0;
    }

    #facebook {
        background-color: rgb(18, 135, 202);
        margin: 0;
        width: 100%;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #fff;
        font-size: 2rem;
        padding-left: 1rem;
        border-radius: 1rem;
        margin-left: 1rem;
    }

    #facebook:hover {
        background-color: rgb(9, 60, 90);
    }

    #instagramm {
        background-color: rgb(172, 59, 125);
        margin: 0;
        width: 100%;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #fff;
        font-size: 2rem;
        padding-left: 1rem;
        border-radius: 1rem;
        margin-left: 1rem;
    }

    #instagramm:hover {
        background-color: rgb(87, 30, 63);
    }

    #email {
        background-color: rgb(202, 18, 18);
        margin: 0;
        width: 100%;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #fff;
        font-size: 2rem;
        padding-left: 1rem;
        border-radius: 1rem;
        margin-left: 1rem;
    }

    #email:hover {
        background-color: rgb(94, 11, 11);
    }

    .main {
        flex: 75%;
        background-color: white;
    }

    .container-fallstudienberichte {
        background: linear-gradient(to bottom, #2d283e 0, #3e283e 100%);
        padding: 2rem;
        border-bottom: 0.1rem #000000 solid;
    }

    .imgback {
        width: 100%;
        height: 30rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0 3rem 0;
    }

    .imgback img {
        height: 30rem;
        width: 80%;
        border-radius: 1rem;
        max-width: 90rem;
    }

    .fallstudienbericht {
        color: white;
        font-size: 2rem;
    }

    .fallstudienbericht li {
        margin-bottom: 2.5rem;
    }

    .link1 {
        color: #fff;
        border: 0.3rem solid rgb(122, 0, 192);
        border-radius: 1rem;
        text-decoration: none;
        padding: 0.5rem;
        text-shadow: 0px 0px 2.5rem #EEEEEE;
        font-size: 2rem;
    }

    .link1:hover {
        background-color: rgb(122, 0, 192);
    }

    .container-lernfortschritt {
        background: linear-gradient(to bottom, #0e5769 0, #0e2b69 100%);
        padding: 2rem;
        border-bottom: 0.1rem #000000 solid;
    }

    .lernfortschritt {
        color: white;
        font-size: 2rem;
    }

    .lernfortschritt li {
        margin-bottom: 2.5rem;
    }

    .link2 {
        color: #fff;
        border: 0.3rem solid #65ccb8;
        border-radius: 1rem;
        text-decoration: none;
        padding: 0.5rem;
        text-shadow: 0px 0px 2.5rem #EEEEEE;
        font-size: 2rem;
    }

    .link2:hover {
        background-color: #65ccb8;
    }

    .fakeimg {
        background: rgba(255, 255, 255, 0.4);
        box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(1rem);
        border-radius: 1.5rem;
        width: fit-content;
        margin: auto;
        margin-bottom: 2rem;
        margin-top: 1.5rem;
    }

    .fakeimg img {
        padding: 1.5rem;
        border-radius: 15%;
        height: 30rem;
    }

    .footer {
        padding: 2rem;
        background-color: #333;
        color: #fff;
        display: flex;
        justify-content: space-between;
    }

    .footer p {
        margin: 0;
        font-size: 1.5rem;
    }

    .footer a {
        font-size: 1.5rem;
        color: #fff;
        text-decoration: underline;
        padding: 0 2rem 0 0;
    }

    summary {
        position: relative;
        cursor: pointer;
        width: 75%;
    }

    summary::marker {
        color: transparent;
    }

    summary::after {
        content: "+";
        position: absolute;
        color: green;
        font-size: 4rem;
        font-weight: bold;
        right: 1rem;
        top: -1.2rem;
        transition: all 0.5s;
    }

    details[open] summary::after {
        color: red;
        transform: translate(5px, 0) rotate(45deg);
    }

    .apps-container {
        background: #252829;
        padding: 2rem;
    }

    .apps-glass {
        background: rgba(255, 255, 255, 0.4);
        box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(1rem);
        border-radius: 1.5rem;
        width: fit-content;
        margin: auto;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    
    .apps-appcontainer {
        padding: 1rem;
        border-radius: 15%;
    }

    .apps-app {
        background-color: #000000;
    }
}

@media only screen and (max-width: 1300px) {
    .row {
        background-size: 32.5rem 100%;
    }
}

@media only screen and (max-width: 1100px) {
    summary {
        width: 100%;
    }
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media only screen and (max-width: 800px) {
    .row {
        flex-direction: column;
        background-size: 100% 40%;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media only screen and (max-width: 500px) {
    .navbar a {
        float: none;
        width: 100%;
    }

    .row {
        flex-direction: column;
        background-size: 100% 40%;
    }
}